@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "baby_doll";
    src: url("/fonts/baby_doll.woff2") format("woff2"), url("/fonts/baby_doll.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@supports (-webkit-touch-callout: none) {
    .h-screen {
        /* The hack for Safari */
        height: -webkit-fill-available;
    }
}
